@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    background-color: black;
}

#msg{
    opacity: 0;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 20%;
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}